#%RAML 0.8
title: Hmis User Service
version: 1.0.0
baseUri: https://www.hmislynk.com/hmis-user-service/rest
mediaType: application/json
/accounts:
  displayName: All accounts
  post:
    description: |
        It creates an account with the specified username and sends out an email to the user to verify the account creation. The initial status of the newly created account is PENDING. The status is changed to ACTIVE when the user verifies account creation by clicking the link embedded in the email. Only an ACTIVE account can log-in using the Create a session (Log-in) API. <br> It returns an error if an account with the specified username already exists.
        This endpoint does the following:
        1) If request does not contain profile information, standard profile will be assigned to the user.
        2) If request does not contain role information, default role will be assigned based on profile.    
        3) Project Group of the user will be same as the project group of logged-in user who creates the account.
        The user must have "USR_CREATE_ACCOUNT" permission to use this API    
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example : |
                  {
                     "account":{
                        "username":"username_1449460295042@hmis.com",
                        "emailAddress":"test@test.com",
                        "password":"1234567890",
                         "confirmPassword":"1234567890",
                        "firstName":"First Name",
                        "middleName":"Middle Name",
                        "lastName":"Last Name",
                        "role":{
                           "id":"33f2a166-4316-4e98-8a0a-7130eabce13e"
                        },
                        "profile":{
                           "id":"c8aa2d91-f982-4f59-a400-142be1af9fca"
                        }
                      }
                  }
    responses: 
      200 : 
        body :
          example : |
                    {
                       "account":{
                          "accountId":"11eeeed4-febc-42e6-b9fd-1818f0894a6c",
                          "username":"username_1449460295042@hmis.com",
                          "emailAddress":"test@test.com",
                          "firstName":"Test",
                          "middleName":"Middle Name",
                          "lastName":"Last Name",
                          "gender":0,
                          "status":"PENDING",
                          "twoFactorAuthentication":false,
                          "projectGroup":{
                             "projectGroupName":"PROJECT_GROUP_NAME",
                             "projectGroupDesc":"PROJECT_GROUP_DESCRIPTION",
                             "projectGroupId":"9b9792ca-8730-4d21-9a39-6902229fd4b9",
                             "projectGroupCode":"PG0001",
                             "skipuseridentifers":false,
                             "bucketName":"pg0001-6546a3c1-5cc3-4d9c-afd6-691a2704d8b8",
                             "projects":[
                    
                             ]
                          },
                          "profile":{
                             "profileName":"Customer Admin Profile",
                             "profileDescription":"Customer Admin Profile",
                             "apiMethods":[
                    
                             ],
                             "id":"d78c38a1-2762-4393-b69b-41a0a11e6efc"
                          },
                          "roles":[
                             {
                                "id":"b67c38a1-2762-4393-b69b-41a0a11e6efd",
                                "roleName":"CUSTADMIN",
                                "roleDescription":"Customer Admin Role"
                             }
                          ]
                       }
                    }
      409 :
       description :  An account with the specified username already exists.
       body :
        example : |
            {
              "errors": {
                "error": {
                  "code": "ACCOUNT ALREADY_EXISTS",
                  "message": "an account with the specified username already exists. username: username_1436679989664@hmis.com"
                }
              }
            }
  get:
    description:
        To get all the users under logged in your project group.
    queryParameters:
      startIndex: 
        required: false
        default: 0
      maxItems:
        required: false
        default: 30        
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP    
    responses:
      200:
        body:  
            example: |
                    {
                     "accounts":{
                        "pagination":{
                           "from":0,
                           "maximum":30,
                           "sort":{
                  
                           }
                        },
                        "account":[
                                    {
                                       "account":{
                                          "accountId":"11eeeed4-febc-42e6-b9fd-1818f0894a6c",
                                          "username":"username_1449460295042@hmis.com",
                                          "emailAddress":"test@test.com",
                                          "firstName":"Test",
                                          "middleName":"Middle Name",
                                          "lastName":"Last Name",
                                          "gender":0,
                                          "status":"PENDING",
                                          "twoFactorAuthentication":false,
                                          "projectGroup":{
                                             "projectGroupName":"PROJECT_GROUP_NAME",
                                             "projectGroupDesc":"PROJECT_GROUP_DESCRIPTION",
                                             "projectGroupId":"9b9792ca-8730-4d21-9a39-6902229fd4b9",
                                             "projectGroupCode":"PG0001",
                                             "skipuseridentifers":false,
                                             "bucketName":"pg0001-6546a3c1-5cc3-4d9c-afd6-691a2704d8b8",
                                             "projects":[
                                    
                                             ]
                                          },
                                          "profile":{
                                             "profileName":"Customer Admin Profile",
                                             "profileDescription":"Customer Admin Profile",
                                             "apiMethods":[
                                    
                                             ],
                                             "id":"d78c38a1-2762-4393-b69b-41a0a11e6efc"
                                          },
                                          "roles":[
                                             {
                                                "id":"b67c38a1-2762-4393-b69b-41a0a11e6efd",
                                                "roleName":"CUSTADMIN",
                                                "roleDescription":"Customer Admin Role"
                                             }
                                          ]
                                       }
                                    }                        ]
                     }
                    }

/accounts/{accountid}:
  put:
    description: | 
          To update a specific account information.
          Provide account id as path variable for upatading non loggedin user. If need to update logged in user send self as account id.
    body:
     application/json:
       example: |
                {
                      "account": {
                          "emailAddress": "test@test.com",
                          "firstName": "First Name",
                          "middleName": "Middle Name",
                          "lastName": "Last Name",
                          "status":"INACIVE",
                          "profile":{
                             "id":"c8aa2d91-f982-4f59-a400-142be1af9fca"
                          }
                        }
                  } 
    responses:
      200 : 
        body :
          example : |
            {
              "account": {
                "accountId": "AA8F9FD9-532D-4D59-B397-5D94CEC6A868",
                "username": "username_1436679989664@hmis.com"
              }
            }        
  get:
    description: |
      Gets (aka reads or retrieves) a specific account. <BR><br>
      GET /accounts/{username}
      <b>
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        description: |
          Successfully retrieved resource(s)
        body:
         example : |
                    {
                       "account":{
                          "accountId":"11eeeed4-febc-42e6-b9fd-1818f0894a6c",
                          "username":"username_1449460295042@hmis.com",
                          "emailAddress":"test@test.com",
                          "firstName":"Test",
                          "middleName":"Middle Name",
                          "lastName":"Last Name",
                          "gender":0,
                          "status":"PENDING",
                          "twoFactorAuthentication":false,
                          "projectGroup":{
                             "projectGroupName":"PROJECT_GROUP_NAME",
                             "projectGroupDesc":"PROJECT_GROUP_DESCRIPTION",
                             "projectGroupId":"9b9792ca-8730-4d21-9a39-6902229fd4b9",
                             "projectGroupCode":"PG0001",
                             "skipuseridentifers":false,
                             "bucketName":"pg0001-6546a3c1-5cc3-4d9c-afd6-691a2704d8b8",
                             "projects":[
                    
                             ]
                          },
                          "profile":{
                             "profileName":"Customer Admin Profile",
                             "profileDescription":"Customer Admin Profile",
                             "apiMethods":[
                    
                             ],
                             "id":"d78c38a1-2762-4393-b69b-41a0a11e6efc"
                          },
                          "roles":[
                             {
                                "id":"b67c38a1-2762-4393-b69b-41a0a11e6efd",
                                "roleName":"CUSTADMIN",
                                "roleDescription":"Customer Admin Role"
                             }
                          ]
                       }
                    }
      403 :
       body :
        example: |
                {
                  "errors": {
                    "error": {
                      "code": "ACCESS_DENIED",
                      "message": "Access denied"
                    }
                  }
                }
  delete:
    description: |
         Account status will be updated to DELETED. 
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:  
/accounts/{accountid}/activate:
  put:
    description: |
          To reactivate a specified user account
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP  
    responses:
      200:
        body:
          example: 
      403:
        body:
          example: |
                      {
                       "errors":{
                          "error":[
                             {
                                "code":"ACCESS_DENIED",
                                "message":"Account cannot be activated from DELETED status"
                             }
                          ]
                       }
                      }
               
/accounts/{accountid}/basicinfo :
  displayName : A specific account
  get:
    description: |
      Gets (aka reads or retrieves) a specific account. <BR><br>
      GET /accounts/{username}
      <b>
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        description: |
          Successfully retrieved resource(s)
        body:
         example : |
                    {
                       "account":{
                          "accountId":"11eeeed4-febc-42e6-b9fd-1818f0894a6c",
                          "username":"username_1449460295042@hmis.com",
                          "emailAddress":"test@test.com",
                          "firstName":"Test",
                          "middleName":"Middle Name",
                          "lastName":"Last Name",
                          "gender":0,
                          "status":"PENDING",
                          "twoFactorAuthentication":false,
                          "projectGroup":{
                             "projectGroupName":"PROJECT_GROUP_NAME",
                             "projectGroupDesc":"PROJECT_GROUP_DESCRIPTION",
                             "projectGroupId":"9b9792ca-8730-4d21-9a39-6902229fd4b9",
                             "projectGroupCode":"PG0001",
                             "skipuseridentifers":false,
                             "bucketName":"pg0001-6546a3c1-5cc3-4d9c-afd6-691a2704d8b8",
                             "projects":[
                    
                             ]
                          },
                          "profile":{
                             "profileName":"Customer Admin Profile",
                             "profileDescription":"Customer Admin Profile",
                             "apiMethods":[
                    
                             ],
                             "id":"d78c38a1-2762-4393-b69b-41a0a11e6efc"
                          },
                          "roles":[
                             {
                                "id":"b67c38a1-2762-4393-b69b-41a0a11e6efd",
                                "roleName":"CUSTADMIN",
                                "roleDescription":"Customer Admin Role"
                             }
                          ]
                       }
                    }
      403 :
       body :
        example: |
                {
                  "errors": {
                    "error": {
                      "code": "ACCESS_DENIED",
                      "message": "Access denied"
                    }
                  }
                }              
/accounts/{accountid}/passwordchanges :
  displayName : Change password for an account
  put:
    description: |
        Changes password for an account. To change the password, the user must be logged-in and provide his/her current password.
        The {username} is a value that uniquely identifies an account.
        To change the password of the currently logged-in user, the {username} can be replaced by <b>self</b> keyword in the URL as shown below.
        <b>POST</b> /accounts/self/passwordchanges
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body :
      example : |
                {
                  "passwordChange": {
                    "currentPassword": "testpwd3",
                    "newPassword": "testpwd4",
                    "confirmNewPassword":"testpwd4"
                  }
                }
    responses:
      200:
        description: |
        body:
          example : |
                  {  "passwordChange": "" }
      403 :
       body :
        example: |
                {
                  "errors": {
                    "error": {
                      "code": "INVALID_CURRENT_PASSWORD",
                      "message": "The specified currentPassword does not match with the password stored in the database."
                    }
                  }
                }
/accounts/{accountid}/forgotpassword :
  displayName : Change password for an account
  post:
    description: |
        Resets password for an account. It sends out an email notification to the user to verify the password reset. The new password becomes effective only after it has been verified by the user. It returns an error if an account with the specified username does not exist OR the account has been DISABLED.
        </br> The {username} is a value that uniquely identifies an account.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        description: |
        body:
          example : |
                  {  "passwordReset": "" }
      403 :
       body :
        example: |
                {
                  "errors": {
                    "error": {
                      "code": "ACCOUNT_DISABLED",
                      "message": "The account has been disabled."
                    }
                  }
                }
      404 :
       body :
        example: |
                {
                  "errors": {
                    "error": {
                      "code": "ACCOUNT_NOT_FOUND",
                      "message": "An account with the specified username does not exist."
                    }
                  }
                }
/accounts/{accountid}/roles:
  put:
    description: To assigne a role to user. If the role is already assigned nothing will happen.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP    
    body:
      example : |
                  {
                     "roles":{
                        "role":[
                           {
                              "id":"6b5857d9-bc16-4706-acde-17be5d530631"
                           },
                           {
                              "id":"b67c38a1-2762-4393-b69b-41a0a11e6efc"
                           }
                        ]
                     }
                  }
    responses:
      200:
        body:
          example: |
      404:
        body:
          example: |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_ROLE_NOT_FOUND",
                                      "message": "Role Not found."
                                   }
                          }
                      }
/accounts/{accountid}/roles/{roleid}:
  delete:
    description:  To remove role from the user.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP    
    responses:  
      200:
        body:
          example: |
      404:
        body:
          example: |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_ROLE_NOT_FOUND",
                                      "message": "Role Not associated with the user."
                                   }
                          }
                      }
      403:
        body:
          example: |
                      {
                         "errors":{
                            "error":[
                               {
                                  "code":"ACCESS_DENIED",
                                  "message":"User should be associated with atleast one role"
                               }
                            ]
                         }
                      }
            
      
/profiles:
  get:
    description: To get all Profiles
    queryParameters:
      startIndex: 
        required: false
        default: 0
      maxItems:
        required: false
        default: 30    
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        body:
          example: |
                       {
                         "profiles":{
                            "pagination":{
                               "from":0,
                               "returned":2,
                               "total":4,
                               "maximum":30,
                               "sort":{
                      
                               }
                            },
                            "profile":
                              [
                               {
                                  "id":"53b393d0-7400-4a7d-8468-b1f48d52d3f2",
                                  "profileName":"ACCOUNT_PROFILE",
                                  "profileDescription":"PROFILE FOR ACCOUNT ENTITY",
                                  "apiMethods":[
                      
                                  ]
                               },
                                 {
                                    "id":"2d7103b6-a24e-446f-81a2-419ebb210e10",
                                    "profileName":"MY first Profile",
                                    "profileDescription":"Profile Description",
                                    "apiMethods":[
                        
                                    ]
                                 }
                              ]
                           }
                          }
                          }
  post:
    description: TO creat new Profile
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body :
      example : |
                    {
                     "profile":{
                     "profileName":"USR_GET_ACCOUNT_PREFERENCES",
                     "profileDescription":"PROFILE FOR ACCOUNT ENTITY FOR PREFERENCES",
                     "apiMethods":[
                        {
                            "externalId":"USR_GET_ACCOUNT_PREFERENCES",
                            "friendlyName":"USR_GET_ACCOUNT_EMAIL_ADDRESS",
                            "type":"USR_GET_ACCOUNT_EMAI",
                            "authorizationMsg":"To get Email Address"
                        }
                      ]
                    }
                    }
    responses:
      200:
        body:
          example: |
                      {
                        "profile":{
                            "id":"06d44778-c5c8-40cd-861e-db0a7f76a0ae",
                            "profileName":"USR_GET_ACCOUNT_EMAIL_ADDRESS",
                            "profileDescription":"PROFILE FOR ACCOUNT ENTITY FOR EMAIL ADDRESS",
                            "apiMethods":[
                                  {
                                    "externalId":"USR_GET_ACCOUNT_EMAIL_ADDRESS",
                                    "friendlyName":"USR_GET_ACCOUNT_EMAIL_ADDRESS",
                                    "type":"USR_GET_ACCOUNT_EMAIL",
                                    "authorizationMsg":"To get Email Address"
                                  }
                            ]
                          }
                      }
/profiles/{profileId}:
  put:
    description: To Update A specific Profile. 
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example: |
                {
                  "profile":{
                  "id":"06d44778-c5c8-40cd-861e-db0a7f76a0ae",
                  "profileName":"USR_GET_ACCOUNT_EMAIL",
                  "profileDescription":"PROFILE FOR ACCOUNT ENTITY FOR EMAIL ADDRESS",
                  "apiMethods":[
                        {
                          "externalId":"USR_GET_ACCOUNT_PREFERENCES",
                          "friendlyName":"USR_GET_ACCOUNT_EMAIL_ADDRESS",
                          "type":"USR_GET_ACCOUNT_EMAI",
                          "authorizationMsg":"To get Email Address"
                        }
                  ]
                }
                }
    responses:
      200:
        body:
          example: |
                    {
                      "profile":{
                      "id":"06d44778-c5c8-40cd-861e-db0a7f76a0ae",
                      "profileName":"USR_GET_ACCOUNT_EMAIL",
                        "profileDescription":"PROFILE FOR ACCOUNT ENTITY FOR EMAIL ADDRESS",
                        "apiMethods":[
                          {
                            "externalId":"USR_GET_ACCOUNT_PREFERENCES",
                            "friendlyName":"USR_GET_ACCOUNT_EMAIL_ADDRESS",
                            "type":"USR_GET_ACCOUNT_EMAI",
                            "authorizationMsg":"To get Email Address"
                          }
                        ]
                      }
                    }
      404:
        body:
          example: |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_PROFILE_NOT_FOUND",
                                      "message": "Profile Not found."
                                   }
                          }
                      }
  delete:
    description: |
      To Delete A specific Profile
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        body:
          example: |
                    {"profile":{}}
      404:
        body:
          example: |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_PROFILE_NOT_FOUND",
                                      "message": "Profile Not found."
                                   }
                          }
                      }
  get:
    description: To get a Specific Profile Details
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        body:
          example: |
                    {
                      "profile":{
                      "id":"06d44778-c5c8-40cd-861e-db0a7f76a0ae",
                      "profileName":"USR_GET_ACCOUNT_EMAIL",
                        "profileDescription":"PROFILE FOR ACCOUNT ENTITY FOR EMAIL ADDRESS",
                        "apiMethods":[
                          {
                            "externalId":"USR_GET_ACCOUNT_PREFERENCES",
                            "friendlyName":"USR_GET_ACCOUNT_EMAIL_ADDRESS",
                            "type":"USR_GET_ACCOUNT_EMAI",
                            "authorizationMsg":"To get Email Address"
                          }
                        ]
                      }
                    }
      404:
        body:
          example: |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_PROFILE_NOT_FOUND",
                                      "message": "Profile Not found."
                                   }
                          }
                      }
/sharingrules:
  post:
    description: To create a New sharing rule.
    
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example : |
                  {
                   "sharingRule":{
                      "fromOrganization":"8b7de9c5-6589-48ac-858a-516c2e50f7dd",
                      "toOrganization":"8b7de9c5-6589-48ac-858a-516c2e50f7dd",
                      "projects":[
                          {
                            "projectId":"8b7de9c5-6589-48ac-858a-516c2e50f7de"
                          }
                      ],
                      "enrollment":[
                          {
                            "enrollmentId":"8b7de9c5-6589-48ac-858a-516c2e50f7df"
                          }
                      ],
                      "roles":[
                          {
                            "id":"8b7de9c5-6589-48ac-858a-516c2e50f7dc"
                          }
                      ]
                    }
                  }
    responses:
      200:
        body:
          example: |
                      {
                        "SharingRules":{
                          "pagination":{
                            "from":0,
                            "maximum":30,
                            "sort":{
                            }
                          },
                          "sharingRules":[
                            {
                              "sharingRuleId":"a0d3ab73-b7b0-41f6-9ea4-dad744ffe823",
                              "fromOrganization":"8b7de9c5-6589-48ac-858a-516c2e50f7dd",
                              "toOrganization":"8b7de9c5-6589-48ac-858a-516c2e50f7dd",
                              "projects":[
                                {
                                  "projectId":"8b7de9c5-6589-48ac-858a-516c2e50f7de"
                                }
                              ],
                              "enrollment":[
                                {
                                  "enrollmentId":"8b7de9c5-6589-48ac-858a-516c2e50f7df"
                                }
                              ],
                              "roles":[
                                {
                                  "id":"8b7de9c5-6589-48ac-858a-516c2e50f7dc",
                                  "roleName":"Sr. Accountant Role",
                                  "roleDescription":"Sr. Accountant Role"
                                }
                              ]
                            },
                            {
                              "sharingRuleId":"b64d75a1-da9f-4ddf-bcad-83d2d8004281",
                              "fromOrganization":"8b7de9c5-6589-48ac-858a-516c2e50f7dd",
                              "toOrganization":"8b7de9c5-6589-48ac-858a-516c2e50f7dd",
                              "projects":[
                                {
                                  "projectId":"8b7de9c5-6589-48ac-858a-516c2e50f7de"
                                }
                              ],
                              "enrollment":[
                                {
                                  "enrollmentId":"8b7de9c5-6589-48ac-858a-516c2e50f7df"
                                }
                              ],
                              "roles":[
                                {
                                  "id":"8b7de9c5-6589-48ac-858a-516c2e50f7dc",
                                  "roleName":"Sr. Accountant Role",
                                  "roleDescription":"Sr. Accountant Role"
                                }
                              ]
                            },
                            {
                              "sharingRuleId":"a3081c73-4f2c-4422-b40b-0a2a9bf61c39",
                              "fromOrganization":"8b7de9c5-6589-48ac-858a-516c2e50f7dd",
                              "toOrganization":"8b7de9c5-6589-48ac-858a-516c2e50f7dd",
                              "projects":[
                                {
                                  "projectId":"8b7de9c5-6589-48ac-858a-516c2e50f7de"
                                }
                              ],
                              "enrollment":[
                                {
                                  "enrollmentId":"8b7de9c5-6589-48ac-858a-516c2e50f7df"
                                }
                              ],
                              "roles":[
                                {
                                  "id":"2d7103b6-a24e-446f-81a2-419ebb210e11",
                                  "roleName":"Admin Role",
                                  "roleDescription":"Admin Role"
                                }
                              ]
                            }
                          ]
                        }
                      }
      404:        
        body:
          example: |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_PROJECT_NOT_FOUND",
                                      "message": "Project Not found."
                                   }
                          }
                      }

                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_ENROLLMENT_NOT_FOUND",
                                      "message": "Enrollment Not found."
                                   }
                          }
                      }

                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_ROLE_NOT_FOUND",
                                      "message": "Role Not found."
                                   }
                          }
                      }    
                                                              
/sharingrules/{sharingruleid}:
  put: 
    description:  To update a specifc Sharing Rule
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example: |
                {
                  "sharingRule":{
                    "sharingRuleId":"a0d3ab73-b7b0-41f6-9ea4-dad744ffe823",
                    "fromOrganization":"8b7de9c5-6589-48ac-858a-516c2e50f7dd",
                    "toOrganization":"8b7de9c5-6589-48ac-858a-516c2e50f7dd",
                    "projects":[
                      {
                        "projectId":"8b7de9c5-6589-48ac-858a-516c2e50f7de"
                      }
                    ],
                    "enrollment":[
                      {
                        "enrollmentId":"8b7de9c5-6589-48ac-858a-516c2e50f7df"
                      }
                    ],
                    "roles":[
                      {
                        "id":"8b7de9c5-6589-48ac-858a-516c2e50f7dc"
                      }
                    ]
                  }
                }
    responses:
      200:
        body:
          example: |
                {
                  "sharingRule":{
                    "sharingRuleId":"a0d3ab73-b7b0-41f6-9ea4-dad744ffe823",
                    "fromOrganization":"8b7de9c5-6589-48ac-858a-516c2e50f7dd",
                    "toOrganization":"8b7de9c5-6589-48ac-858a-516c2e50f7dd",
                    "projects":[
                      {
                        "projectId":"8b7de9c5-6589-48ac-858a-516c2e50f7de"
                      }
                    ],
                    "enrollment":[
                      {
                        "enrollmentId":"8b7de9c5-6589-48ac-858a-516c2e50f7df"
                      }
                    ],
                    "roles":[
                      {
                        "id":"8b7de9c5-6589-48ac-858a-516c2e50f7dc"
                      }
                    ]
                  }
                }
      404:        
        body:
          example: |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_SHARING_RULE_NOT_FOUND",
                                      "message": "SharingRule Not found."
                                   }
                          }
                      }

                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_PROJECT_NOT_FOUND",
                                      "message": "Project Not found."
                                   }
                          }
                      }

                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_ENROLLMENT_NOT_FOUND",
                                      "message": "Enrollment Not found."
                                   }
                          }
                      }

                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_ROLE_NOT_FOUND",
                                      "message": "Role Not found."
                                   }
                          }
                      }    
                                                              
  delete:
    description: To Delete A Specifc Sharing Rule
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        body:
          example: |
                      {"sharingRule":{}}
      404:
        body:
          example: |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_SHARING_RULE_NOT_FOUND",
                                      "message": "SharingRule Not found."
                                   }
                          }
                      }
/roles:
  get:
    description:  To get All the roles.
    queryParameters:
      startIndex: 
        required: false
        default: 0
      maxItems:
        required: false
        default: 30    
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        body:
          example: |
                    {
                      "roles":{
                        "pagination":{
                          "from":0,
                          "returned":2,
                          "total":3,
                          "maximum":30,
                          "sort":{

                          }
                        },
                        "role":[
                          {
                            "id":"2d7103b6-a24e-446f-81a2-419ebb210e10",
                            "roleName":"Super Admin Role",
                            "roleDescription":"Super Admin Role"
                          },
                          {
                            "id":"2d7103b6-a24e-446f-81a2-419ebb210e11",
                            "roleName":"Admin Role",
                            "roleDescription":"Admin Role",
                            "parentRole":{
                              "id":"2d7103b6-a24e-446f-81a2-419ebb210e10",
                              "roleName":"Super Admin Role",
                              "roleDescription":"Super Admin Role"
                            }
                          }
                        ]
                      }
                    }
  post:
    description: To create A new role
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example: |
                {
                  "role":{
                    "roleName":"Project Manager Role",
                    "roleDescription":"Project Manager Role"
                  }
                }
    responses:
      200:
        body:
          example: |
                    {
                      "role":{
                        "id":"2d7103b6-a24e-446f-81a2-419ebb210e11",
                        "roleName":"Project Manager Role",
                        "roleDescription":"Project Manager Role"
                      }
                    }
/roles/{roleid}:
  put:
    description: To update a specific role
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example: |
                {
                  "role":{
                    "id":"2d7103b6-a24e-446f-81a2-419ebb210e11",
                    "roleName":"Project Manager",
                    "roleDescription":"Project Manager"
                  }
                }
    responses:
      200:
        body:
          example: |
                   {
                      "role":{
                        "id":"2d7103b6-a24e-446f-81a2-419ebb210e11",
                        "roleName":"Project Manager",
                        "roleDescription":"Project Manager"
                      }
                    }
      404:
        body:
          example: |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_ROLE_NOT_FOUND",
                                      "message": "Role Not found."
                                   }
                          }
                      }
  delete:
    description: To delete a Specific role
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        body:  
          example: |
                      {"role":{}}
      404:
        body:
          example: |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_ROLE_NOT_FOUND",
                                      "message": "Role Not found."
                                   }
                          }
                      }
/permissionsets:
  post:
    description: To create a new Permission Set. 
    
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example: |
                  {
                    "permissionSet":{
                      "permissionSetName":"USR_GET_ACCOUNT_PREFERENCES_PERMISSIONSET",
                      "apiMethods":[
                        {
                          "externalId":"USR_UPDATE_ACCOUNT_PREFERENCES",
                          "friendlyName":"USR_GET_ACCOUNT_EMAIL_ADDRESS",
                          "type":"USR_GET_ACCOUNT_EMAI",
                          "authorizationMsg":"To get Email Address"
                        }
                      ]
                    }
                  }
    responses:
      200:
        body:
          example: |  
                  {
                    "permissionSet":{
                      "permissionSetId":"2d7103b6-a24e-446f-81a2-419ebb210e21",
                      "permissionSetName":"USR_GET_ACCOUNT_PREFERENCES_PERMISSIONSET",
                      "apiMethods":[
                        {
                          "externalId":"USR_UPDATE_ACCOUNT_PREFERENCES",
                          "friendlyName":"USR_GET_ACCOUNT_EMAIL_ADDRESS",
                          "type":"USR_GET_ACCOUNT_EMAI",
                          "authorizationMsg":"To get Email Address"
                        }
                      ]
                    }
                  }    
/permissionsets/{permissionsetid}:
  put:
    description: To update a Specific Permission Set
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example: |
                  {
                    "permissionSet":{
                      "permissionSetId":"2d7103b6-a24e-446f-81a2-419ebb210e21",
                      "permissionSetName":"USR_GET_ACCOUNT_PREFERENCES_PERMISSIONSET",
                      "apiMethods":[
                        {
                          "externalId":"USR_UPDATE_ACCOUNT_PREFERENCES",
                          "friendlyName":"USR_GET_ACCOUNT_EMAIL_ADDRESS",
                          "type":"USR_GET_ACCOUNT_EMAI",
                          "authorizationMsg":"To get Email Address"
                        }
                      ]
                    }
                  }
    responses:
      200:
        body:
          example: |
                  {
                    "permissionSet":{
                      "permissionSetId":"2d7103b6-a24e-446f-81a2-419ebb210e21",
                      "permissionSetName":"USR_GET_ACCOUNT_PREFERENCES_PERMISSIONSET",
                      "apiMethods":[
                        {
                          "externalId":"USR_UPDATE_ACCOUNT_PREFERENCES",
                          "friendlyName":"USR_GET_ACCOUNT_EMAIL_ADDRESS",
                          "type":"USR_GET_ACCOUNT_EMAI",
                          "authorizationMsg":"To get Email Address"
                        }
                      ]
                    }
                  }
      404:
        body:
          example: |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_PERMISSION_NOT_FOUND",
                                      "message": "PermissionSet Not found."
                                   }
                          }
                      }
  delete:
    description: To Delete a specific Permission Set
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        body:
          example: |
                      {"permissionSet":{}}
      404:
        body:
          example: |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_PERMISSION_NOT_FOUND",
                                      "message": "PermissionSet Not found."
                                   }
                          }
                      }
  get:
    description: To get Details About a specific Permision Set
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        body:
            example: |
                       {
                          "permissionSet":{
                            "permissionSetId":"2d7103b6-a24e-446f-81a2-419ebb210e21",
                            "permissionSetName":"USR_GET_ACCOUNT_PREFERENCES_PERMISSIONSET",
                            "apiMethods":[
                              {
                                "externalId":"USR_UPDATE_ACCOUNT_PREFERENCES",
                                "friendlyName":"USR_GET_ACCOUNT_EMAIL_ADDRESS",
                                "type":"USR_GET_ACCOUNT_EMAI",
                                "authorizationMsg":"To get Email Address"
                              }
                            ]
                          }
                        }                   
      404:
        body:
          example: |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_PERMISSION_NOT_FOUND",
                                      "message": "PermissionSet Not found."
                                   }
                          }
                      }
/permissionsets/{username}/permissionsetassignments:
  post:
    description: | 
        To Assign a Permission to A user
         <b>Note:</b> /permissionset/hmisuser/assignPermissionSet
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
     example: |
             {
                "permissionSet":{
                  "id":"1ac477ef-0c85-43b4-8c06-ced794b9cabd",
                  "permissionSetName":"DCS_CREATE_DEVELOPER_COMPANY_PERMISSIONSET"
                }
              }
    responses:
      200:
        body:
          example : | 
      404:
        body:
          example: |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_USER_NOT_FOUND",
                                      "message": "User Not found."
                                   }
                          }
                      }

                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_PERMISSIONSET_NOT_FOUND",
                                      "message": "Permissionset Not found.
                                   }
                          }
                      }
/informationreleases:
  post:
    description: To create a release information for a enrollment.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example: |
                  {
                    "roleaseOfInfo":{
                      "roleaseOfInfo":"2192f57b-fa89-41b4-8680-e78f0b3c4c5e",
                      "enrollmentId":"2192f57b-fa89-41b4-8680-e78f0b3c4c3e",
                      "consented":"true",
                      "projects":[
                        "2a54536b-f208-41d7-a2e3-     f7f1c0953c1a",
                        "3b6c1791-3d69-  4abc-8716-0cecf831357d"
                      ]
                    }
                  }
    responses:
      200:
        body:
          example: |
                    {
                      "releaseOfInfos":{
                        "roleaseOfInfo":[
                          {
                            "roleaseOfInfoId":"2192f57b-fa89-41b4-8680-e78f0b3c4c5e",
                            "enrollmentId":"2192f57b-fa89-41b4-8680-e78f0b3c4c3e",
                            "consented":"true",
                            "project":"2a54536b-f208-41d7-a2e3-f7f1c0953c1a"
                          },
                          {
                            "roleaseOfInfo":"2192f57b-fa89-41b4-8680-e78f0b3c9g5e",
                            "enrollmentId":"2192f57b-fa89-41b4-8680-e78f0b3c4c3e",
                            "consented":"true",
                            "project":"2a54536b-f208-41d7-a2e3-f7f1c0953c1a"
                          }
                        ]
                      }
                    }  
      404:
        body:
          example : |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_ENROLLMENT_NOT_FOUND",
                                      "message": "Enrollment Not found."
                                   }
                          }
                      }

                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_PROJECT_NOT_FOUND",
                                      "message": "Project Not found."
                                   }
                          }
                      }
/informationreleases/{enrollmentId}:
  put:
    description: To update an enrollment's release of information.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example: |
                {
                  "roleaseOfInfo":{
                   "enrollmentId":"2192f57b-fa89-41b4-8680-e78f0b3c4c3e",
                    "consented":"true",
                    "projects":[
                      "2a54536b-f208-41d7-a2e3-     f7f1c0953c1a",
                      "3b6c1791-3d69-  4abc-8716-0cecf831357d"
                    ]
                  }
                }
    responses:
      200:
        body:
          example: |
                  {
                    "releaseOfInfos":{
                      "roleaseOfInfo":[
                        {
                          "roleaseOfInfoId":"2192f57b-fa89-41b4-8680-e78f0b3c4c5e",
                          "enrollmentId":"2192f57b-fa89-41b4-8680-e78f0b3c4c3e",
                          "consented":"true",
                          "project":"2a54536b-f208-41d7-a2e3-f7f1c0953c1a"
                        },
                        {
                          "roleaseOfInfo":"2192f57b-fa89-41b4-8680-e78f0b3c9g5e",
                          "enrollmentId":"2192f57b-fa89-41b4-8680-e78f0b3c4c3e",
                          "consented":"true",
                          "project":"2a54536b-f208-41d7-a2e3-f7f1c0953c1a"
                        }
                      ]
                    }
                  }
      404:
        body:
          example : |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_ENROLLMENT_NOT_FOUND",
                                      "message": "Enrollment Not found."
                                   }
                          }
                      }

                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_PROJECT_NOT_FOUND",
                                      "message": "Project Not found."
                                   }
                          }
                      }
  delete:
    description: To delete an enrollment's release of information.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
    responses:
      200:
        body:
          example: |
                { "roleaseOfInfo" : { }   }
      404:
        body:
          example : |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_ENROLLMENT_NOT_FOUND",
                                      "message": "Enrollment Not found."
                                   }
                          }
                      }
  get:
    description: To get an enrollment's release of information.
    queryParameters:
      startIndex: 
        required: false
        default: 0
      maxItems:
        required: false
        default: 30    
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
    responses:
      200:
        body:
          example: |
                {
                  "releaseOfInfos":{
                          "pagination": {
                                    "from": 0,
                                    "returned": 2,
                                    "total": 2,
                                    "maximum": 30,
                                    "sort": {}
                              },
                    "roleaseOfInfo":[
                      {
                        "roleaseOfInfoId":"2192f57b-fa89-41b4-8680-e78f0b3c4c5e",
                        "enrollmentId":"2192f57b-fa89-41b4-8680-e78f0b3c4c3e",
                        "consented":"true",
                        "project":"2a54536b-f208-41d7-a2e3-f7f1c0953c1a"
                      },
                      {
                        "roleaseOfInfo":"2192f57b-fa89-41b4-8680-e78f0b3c9g5e",
                        "enrollmentId":"2192f57b-fa89-41b4-8680-e78f0b3c4c3e",
                        "consented":"true",
                        "project":"2a54536b-f208-41d7-a2e3-f7f1c0953c1a"
                      }
                    ]
                  }
                }
      404:
        body:
          example : |
                      {
                        "errors": {
                          "error": {
                                      "code": "ERR_CODE_ENROLLMENT_NOT_FOUND",
                                      "message": "Enrollment Not found."
                                   }
                          }
                      }  
/projectsgroups:
  post: 
    description: |
        To create a new project group.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example: |
            {
               "projectGroup":{
                  "projectGroupName":"Test",
                  "projectGroupDesc":"Test",
                  "projectGroupCode":"Test",
                  "skipuseridentifers":false,
                  "projects":[
                      {
                        "projectId":"306be3d2-cf56-4a72-aede-180cc89417ae",
                        "projectName":"ProjectName_1459515376900",
                        "projectCommonName":"ProjectCommonName_1459515376900",
                        "continuumProject":0,
                        "trackingMethod":0
                     }
                  ]
               }
            }
    responses:
      200:
        body:
          example: |
              {
                   "projectGroup":{
                      "projectGroupId":"f6dc751c-c2f7-42e3-ab85-9b0e6c5cd8b0",
                      "projectGroupName":"Test",
                      "projectGroupDesc":"Test",
                      "projectGroupCode":"Test",
                      "skipuseridentifers":false,
                      "projects":[
                          {
                            "projectId":"306be3d2-cf56-4a72-aede-180cc89417ae",
                            "projectName":"ProjectName_1459515376900",
                            "projectCommonName":"ProjectCommonName_1459515376900",
                            "continuumProject":0,
                            "trackingMethod":0
                         }
                      ]
                   }
                }
  get:
    description: To retrive existing project groups.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    queryParameters:
      startIndex: 
        required: false
        default: 0
      maxItems:
        required: false
        default: 30    
    responses:
      200:
        body:
          example: |
            {
               "projectgroups":{
                  "pagination":{
                     "from":0,
                     "returned":2,
                     "total":2,
                     "maximum":30,
                     "sort":{
            
                     }
                  },
                  "projectGroups":[
            
                     {
                        "projectGroupName":"CK Project",
                        "projectGroupDesc":"Test CK Project",
                        "projectGroupId":"34926f5a-3bc6-42af-ba30-9f0a9746316d",
                        "projectGroupCode":"CP0004",
                        "skipuseridentifers":false,
                        "projects":[
            
                        ]
                     },
                     {
                        "projectGroupName":"TestGrp",
                        "projectGroupDesc":"Test Project Group",
                        "projectGroupId":"aaae7c3a-84df-4ff1-a35c-97b39341e66a",
                        "projectGroupCode":"TE0003",
                        "skipuseridentifers":false,
                        "projects":[
                           {
                              "projectId":"306be3d2-cf56-4a72-aede-180cc89417ae",
                              "projectName":"ProjectName_1459515376900",
                              "projectCommonName":"ProjectCommonName_1459515376900",
                              "continuumProject":0,
                              "trackingMethod":0,
                              "link":"/hmis-clientapi/rest/v2014/projects/306be3d2-cf56-4a72-aede-180cc89417ae"
                           }
                        ]
                     }
                  ]
               }
            }
/projectgroups/{projectgroupid}:
  put:
    description: To update existing project group. While updating project group, api will remove all the assigned projects and add projects which are in new request body.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example: |
            {
               "projectGroup":{
                  "projectGroupName":"Test",
                  "projectGroupDesc":"Test",
                  "projectGroupCode":"Test",
                  "skipuseridentifers":false,
                  "projects":[
                      {
                        "projectId":"306be3d2-cf56-4a72-aede-180cc89417ae",
                        "projectName":"ProjectName_1459515376900",
                        "projectCommonName":"ProjectCommonName_1459515376900",
                        "continuumProject":0,
                        "trackingMethod":0
                     }
                  ]
               }
            }
    responses:
      200:
        body:
          example: |
              {
                   "projectGroup":{
                      "projectGroupId":"f6dc751c-c2f7-42e3-ab85-9b0e6c5cd8b0",
                      "projectGroupName":"Test",
                      "projectGroupDesc":"Test",
                      "projectGroupCode":"Test",
                      "skipuseridentifers":false,
                      "projects":[
                          {
                            "projectId":"306be3d2-cf56-4a72-aede-180cc89417ae",
                            "projectName":"ProjectName_1459515376900",
                            "projectCommonName":"ProjectCommonName_1459515376900",
                            "continuumProject":0,
                            "trackingMethod":0
                         }
                      ]
                   }
                }
      404:
        body:
          example: |
                 {
                  "errors": {
                    "error": {
                                "code": "ERR_CODE_PROJECT_GROUP_NOT_FOUND",
                                "message": "Project Group Not found."
                             }
                      }
                  }  
  delete:
    description: To remove existing project group.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        body:
          example: |
              { "projectGroup": { } }
      404:
        body:
          example: |
                 {
                  "errors": {
                    "error": {
                                "code": "ERR_CODE_PROJECT_GROUP_NOT_FOUND",
                                "message": "Project Group Not found."
                             }
                      }
                  }  

  get:
    description: To retrive selected project group.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        body:
          example: |
               {
                  "projectGroupName":"TestGrp",
                  "projectGroupDesc":"Test Project Group",
                  "projectGroupId":"aaae7c3a-84df-4ff1-a35c-97b39341e66a",
                  "projectGroupCode":"TE0003",
                  "skipuseridentifers":false,
                  "projects":[
                     {
                        "projectId":"306be3d2-cf56-4a72-aede-180cc89417ae",
                        "projectName":"ProjectName_1459515376900",
                        "projectCommonName":"ProjectCommonName_1459515376900",
                        "continuumProject":0,
                        "trackingMethod":0,
                        "link":"/hmis-clientapi/rest/v2014/projects/306be3d2-cf56-4a72-aede-180cc89417ae"
                     }
                  ]
               }
      404:
        body:
          example: |
                 {
                  "errors": {
                    "error": {
                                "code": "ERR_CODE_PROJECT_GROUP_NOT_FOUND",
                                "message": "Project Group Not found."
                             }
                      }
                  }  
