openapi: 3.0.0
info:
  title: HMIS User Service
  version: 1.1.0
  description: |
       **Note :**
              Please note that the partial updates are supported via PUT APIs. However, Note that If "null" value is passed for any element, in the PUT request body, it will be ignored. An empty string value should be sent (instead of "null" value) for the elements that need to be updated with NULL values.
servers:
  - url: 'https://api.hslynk.com/hmis-user-service/rest'
paths:
  /accounts:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '409':
          description: An account with the specified username already exists.
          content:
            application/json:
              schema:
                type: object
      description: >
        It creates an account with the specified username and sends out an email
        to the user to verify the account creation. The initial status of the
        newly created account is PENDING. The status is changed to ACTIVE when
        the user verifies account creation by clicking the link embedded in the
        email. Only an ACTIVE account can log-in using the Create a session
        (Log-in) API. <br> It returns an error if an account with the specified
        username already exists.

        This endpoint does the following:

        1) If request does not contain profile information, standard profile
        will be assigned to the user.

        2) If request does not contain role information, default role will be
        assigned based on profile.

        3) Project Group of the user will be same as the project group of
        logged-in user who creates the account.

        The user must have "USR_CREATE_ACCOUNT" permission to use this API
      operationId: POST_accounts
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To get all the users under logged in your project group.
      operationId: GET_accounts
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
        - name: startIndex
          in: query
          schema:
            default: '0'
            type: string
        - name: maxItems
          in: query
          schema:
            default: '30'
            type: string
  '/accounts/{accountid}':
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: >
        To update a specific account information.

        Provide account id as path variable for upatading non loggedin user. If
        need to update logged in user send self as account id.
      operationId: PUT_accounts-accountid
    get:
      responses:
        '200':
          description: |
            Successfully retrieved resource(s)
          content:
            application/json:
              schema:
                type: object
        '403':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: |
        Gets (aka reads or retrieves) a specific account. <BR><br>
        GET /accounts/{username}
        <b>
      operationId: GET_accounts-accountid
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    delete:
      responses:
        default:
          description: ''
      description: |
        Account status will be updated to DELETED.
      operationId: DELETE_accounts-accountid
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    parameters:
      - name: accountid
        in: path
        required: true
        schema:
          type: string
  '/accounts/{accountid}/activate':
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '403':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: |
        To reactivate a specified user account
      operationId: PUT_accounts-accountid-activate
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    parameters:
      - name: accountid
        in: path
        required: true
        schema:
          type: string
  '/accounts/{accountid}/basicinfo':
    get:
      responses:
        '200':
          description: |
            Successfully retrieved resource(s)
          content:
            application/json:
              schema:
                example:
                        account:
                            accountId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                            username: superadmin@hmis.com
                            emailAddress: hmisprojects@gmail.com
                            firstName: Surya
                            middleName: middle
                            lastName: Yadavalli
                            gender: 0
                            status: ACTIVE
                            twoFactorAuthentication: false
                            projectGroup:
                              projectGroupName: PROJECT_GROUP_NAME
                              projectGroupDesc: PROJECT_GROUP_DESCRIPTION
                              projectGroupId: 9b9792ca-8730-4d21-9a39-6902229fd4b9
                              projectGroupCode: PG0001
                              skipuseridentifers: false
                              bucketName: pg0001-6546a3c1-5cc3-4d9c-afd6-691a2704d8b9
                              projects: []
                            profile:
                              profileName: Super Admin Profile
                              profileDescription: Super Admin Profile
                              apiMethods: []
                              id: b67c38a1-2762-4393-b69b-41a0a11e6efc
                            roles:
                            - id: b67c38a1-2762-4393-b69b-41a0a11e6efc
                              roleName: SUPERADMIN
                              roleDescription: Super Admin Role

        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                          errors:
                              error:
                              - code: INVALID_SESSION_TOKEN
                                message: 'token has expired: 61E86CA8574C4112BB20082BE971F16150F803E261D4450DB0F5BA3A528533B2'
      description: |
        Gets (aka reads or retrieves) a specific account. <BR><br>
        GET /accounts/{username}
        <b>
      operationId: GET_accounts-accountid-activate-basicinfo
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    parameters:
      - name: accountid
        in: path
        required: true
        schema:
          type: string
          default : self
  '/accounts/{accountid}/passwordchanges':
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '403':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: >
        Changes password for an account. To change the password, the user must
        be logged-in and provide his/her current password.

        The {username} is a value that uniquely identifies an account.

        To change the password of the currently logged-in user, the {username}
        can be replaced by <b>self</b> keyword in the URL as shown below.

        <b>POST</b> /accounts/self/passwordchanges
      operationId: PUT_accounts-accountid-activate-passwordchanges
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    parameters:
      - name: accountid
        in: path
        required: true
        schema:
          type: string
  '/accounts/{username}/passwordupdate':
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
               example: |
        '403':
          description: ''
          content:
            application/json:
              schema:
                example:
                            errors:
                                error:
                                - code: ACCESS_DENIED
                                  message: 'Customer admin only can perform this operation'
      description: >
        Customer Admin can update any user's password with in the project group. Once request is success user and admin will receive acknowledgement via email.

        The {username} is a value that uniquely identifies an account.
      operationId: PUT_accounts-accountid--passwordupdate
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
  '/accounts/{accountid}/forgotpassword':
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '403':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: >
        Resets password for an account. It sends out an email notification to
        the user to verify the password reset. The new password becomes
        effective only after it has been verified by the user. It returns an
        error if an account with the specified username does not exist OR the
        account has been DISABLED.

        </br> The {username} is a value that uniquely identifies an account.
      operationId: POST_accounts-accountid-activate-forgotpassword
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    parameters:
      - name: accountid
        in: path
        required: true
        schema:
          type: string
  '/accounts/{accountid}/roles':
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: >-
        To assigne a role to user. If the role is already assigned nothing will
        happen.
      operationId: PUT_accounts-accountid-roles
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    parameters:
      - name: accountid
        in: path
        required: true
        schema:
          type: string
  '/accounts/{accountid}/roles/{roleid}':
    delete:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '403':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To remove role from the user.
      operationId: DELETE_accounts-accountid-roles-roleid
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    parameters:
      - name: roleid
        in: path
        required: true
        schema:
          type: string
      - name: accountid
        in: path
        required: true
        schema:
          type: string
  /profiles:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example :
                          profiles:
                            pagination:
                              from: 0
                              returned: 3
                              total: 7
                              maximum: 30
                              sort: {}
                            profile:
                            - profileName: Standard Profile
                              profileDescription: Standard Profile
                              profileLevel: 2
                              apiMethods: []
                              id: 004aed07-b4d4-4696-b8f6-1607f6f49bac
                            - profileName: Developer Profile
                              profileDescription: Developer Profile
                              profileLevel: 3
                              apiMethods: []
                              id: 1ebd9476-600c-463f-8c3d-bf8accad472b

      description: To get all Profiles depending on the logged-in users profile level.
      operationId: GET_profiles
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
        - name: startIndex
          in: query
          schema:
            default: '0'
            type: string
        - name: maxItems
          in: query
          schema:
            default: '30'
            type: string
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example :
                          profile:
                          - profileName: Standard Profile
                            profileDescription: Standard Profile
                            profileLevel: 2
                            apiMethods: []

      description: Create a new profile
      operationId: POST_profiles
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
  '/profiles/{profileid}':
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example :
                          profile:
                          - profileName: Standard Profile
                            profileDescription: Standard Profile
                            profileLevel: 2
                            apiMethods: []
                            id: 004aed07-b4d4-4696-b8f6-1607f6f49bac
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To Update A specific Profile.
      operationId: PUT_profiles-profileId
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    delete:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: |
        To Delete A specific Profile
      operationId: DELETE_profiles-profileId
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example :
                          profile:
                          - profileName: Standard Profile
                            profileDescription: Standard Profile
                            profileLevel: 2
                            apiMethods: []
                            id: 004aed07-b4d4-4696-b8f6-1607f6f49bac
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To get a Specific Profile Details
      operationId: GET_profiles-profileId
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    parameters:
      - name: profileid
        in: path
        required: true
        schema:
          type: string
  /sharingrules:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: Create a new sharing rule.
      operationId: POST_sharingrules
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
  '/sharingrules/{sharingruleid}':
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To update a specifc Sharing Rule
      operationId: PUT_sharingrules-sharingruleid
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    delete:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To Delete A Specifc Sharing Rule
      operationId: DELETE_sharingrules-sharingruleid
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    parameters:
      - name: sharingruleid
        in: path
        required: true
        schema:
          type: string
  /roles:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
               example :
                   roles:
                      pagination:
                        from: 0
                        returned: 3
                        total: 3
                        maximum: 30
                        sort: {}
                      role:
                      - id: 1ebd9476-600c-463f-8c3d-bf8accad472b
                        roleName: DEVELOPER
                        roleDescription: Developer Role
                      - id: b67c38a1-2762-4393-b69b-41a0a11e6efd
                        roleName: CUSTADMIN
                        roleDescription: Customer Admin Role
                      - id: 6b5857d9-bc16-4706-acde-17be5d530631
                        roleName: STANDARD
                        roleDescription: Standard Role
      description: To get All the roles.
      operationId: GET_roles
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
        - name: startIndex
          in: query
          schema:
            default: '0'
            type: string
        - name: maxItems
          in: query
          schema:
            default: '30'
            type: string
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To create A new role
      operationId: POST_roles
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
  '/roles/{roleid}':
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To update a specific role
      operationId: PUT_roles-roleid
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    delete:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To delete a Specific role
      operationId: DELETE_roles-roleid
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    parameters:
      - name: roleid
        in: path
        required: true
        schema:
          type: string
  /permissionsets:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To create a new Permission Set.
      operationId: POST_permissionsets
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
  '/permissionsets/{permissionsetid}':
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To update a Specific Permission Set
      operationId: PUT_permissionsets-permissionsetid
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    delete:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To Delete a specific Permission Set
      operationId: DELETE_permissionsets-permissionsetid
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To get Details About a specific Permision Set
      operationId: GET_permissionsets-permissionsetid
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    parameters:
      - name: permissionsetid
        in: path
        required: true
        schema:
          type: string
  '/permissionsets/{username}/permissionsetassignments':
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: |
        To Assign a Permission to A user
         <b>Note:</b> /permissionset/hmisuser/assignPermissionSet
      operationId: POST_permissionsets-username-permissionsetassignments
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
  /informationreleases:
    post:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To create a release information for a enrollment.
      operationId: POST_informationreleases
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
  '/informationreleases/{enrollmentId}':
    put:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To update an enrollment's release of information.
      operationId: PUT_informationreleases-enrollmentId
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    delete:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To delete an enrollment's release of information.
      operationId: DELETE_informationreleases-enrollmentId
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    get:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To get an enrollment's release of information.
      operationId: GET_informationreleases-enrollmentId
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
        - name: startIndex
          in: query
          schema:
            default: '0'
            type: string
        - name: maxItems
          in: query
          schema:
            default: '30'
            type: string
    parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
  /projectgroups:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example :

      description: |
        To create a new project group.
      operationId: POST_projectgroups
      requestBody:
        content:
          application/json:
            schema:
              example:
                  projectGroup:
                      projectGroupName: new project group
                      projectGroupDesc: new project group
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                        projectgroups:
                            pagination:
                              from: 0
                              returned: 19
                              total: 19
                              maximum: 30
                              sort: {}
                            projectGroups:
                            - projectGroupName: CK Project
                              projectGroupDesc: Test CK Project
                              projectGroupId: 34926f5a-3bc6-42af-ba30-9f0a9746316d
                              projectGroupCode: CP0004
                              skipuseridentifers: false
                              bucketName: cp0004-6546a3c1-5cc3-4d9c-afd6-691a2704d8b9
                              projects: []
                            - projectGroupName: Skid Row Housing Trust
                              projectGroupDesc: Project group for Skid Row Housing Trust
                              projectGroupId: c1bc338e-89c9-4dad-a0a1-12cbbec9c1c4
                              projectGroupCode: SR0012
                              skipuseridentifers: false
                              bucketName: sr0014-332894dd-eaff-4308-9c51-49ffb924131b
                              projects: []
      description: To retrive existing project groups.
      operationId: GET_projectgroups
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
        - name: startIndex
          in: query
          schema:
            default: '0'
            type: string
        - name: maxItems
          in: query
          schema:
            default: '30'
            type: string
  '/projectgroups/{projectgroupid}':
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: >-
        To update existing project group. While updating project group, api will
        remove all the assigned projects and add projects which are in new
        request body.
      operationId: PUT_projectgroups-projectgroupid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  projectGroup:
                      projectGroupName: new project group Name
                      projectGroupDesc: new project group Desc
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    delete:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To remove existing project group.
      operationId: DELETE_projectgroups-projectgroupid
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '404':
          description: ''
          content:
            application/json:
              schema:
                type: object
      description: To retrieve selected project group.
      operationId: GET_projectgroups-projectgroupid
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
    parameters:
      - name: projectgroupid
        in: path
        required: true
        schema:
          type: string
  /apimethodauthcheck/{apimethodid}:
    parameters:
    - name: Authorization
      in: header
      required: true
      description: >-
        Authorization request header should specify as HMISUserAuth
        session_token={sessiontokenvalue}.
      schema:
        type: string
    - name: X-HMIS-TrustedApp-Id
      in: header
      required: true
      description: Trusted App id should be provide in this header.
      schema:
        type: string
    - name: apimethodid
      in: path
      required: true
      description: API method id
      schema:
        type: string
    get:
      responses:
        '200':
          description: ''
          content:
           application/json:
            schema:
              example:
                      apiMethodAuthorizationCheck:
                        trustedAppId: MASTER_TRUSTED_APP
                        accessToken: F29B405D91A648659F896F29B05D609446D1D2E9494648079AC2267499CD75A5
                        apiMethodId: USR_CHECK_API_AUTHORIZATION
                        trustedApp:
                          trustedAppId: MASTER_TRUSTED_APP
                          friendlyName: MASTER_TRUSTED_APP
                          description: MASTER_TRUSTED_APP
                          status: ACTIVE
                          trustedAppFamilyType: APP
                          trustedAppProfileType: NATIVE
                        account:
                          accountId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                          username: superadmin@hmis.com
                          emailAddress: hmisprojects@gmail.com
                          firstName: Surya
                          middleName: middle
                          lastName: Yadavalli
                          gender: 0
                          status: ACTIVE
                          twoFactorAuthentication: false
                          projectGroup:
                            projectGroupName: PROJECT_GROUP_NAME
                            projectGroupDesc: PROJECT_GROUP_DESCRIPTION
                            projectGroupId: 9b9792ca-8730-4d21-9a39-6902229fd4b9
                            projectGroupCode: PG0001
                            skipuseridentifers: false
                            bucketName: pg0001-6546a3c1-5cc3-4d9c-afd6-691a2704d8b9
                            senderEmail: mc211_support@ctagroup.org
                            projects: []
                          profile:
                            profileName: Super Admin Profile
                            profileDescription: Super Admin Profile
                            apiMethods: []
                            id: b67c38a1-2762-4393-b69b-41a0a11e6efc
                          roles:
                          - id: b67c38a1-2762-4393-b69b-41a0a11e6efc
                            roleName: SUPERADMIN
                            roleDescription: Super Admin Role
                        checkSessionToken: true

        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                            errors:
                                error:
                                - code: INVALID_SESSION_TOKEN
                                  message: 'token has expired: 11B88EAFF0184196A846A54CFB35BDEB4BD06E79BB9145F78524FC37A3F0DE63'
  /trustedapps:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                    trustedApps:
                      pagination:
                        from: 0
                        maximum: 30
                        sort: {}
                      trustedApp:
                      - trustedAppId: 084AB810-F828-4F55-AF77-DEF3EB2433D5
                        friendlyName: cessupport
                        description: IOS mobile app
                        status: ACTIVE
                        trustedAppFamilyType: APP
                        trustedAppProfileType: NATIVE
                      - trustedAppId: 48B22E82-7307-4998-A932-F8ADAF4FBDBC
                        friendlyName: SR_team 12
                        description: ''
                        status: ACTIVE
                        trustedAppFamilyType: APP
                        trustedAppProfileType: CLIENT_SIDE_WEB_APP
      description: To retrive existing trustedapps.
      operationId: GET_trustedapps
      parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
  /trustedapps/{trustedappid}/projectgroups:
    parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
        - name: trustedappid
          in: path
          required: true
          description: Trusted App id
          schema:
            type: string
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
               example:
                        |
        '404':
         description: trustedapp not found
         content:
          application/json:
            schema:
              {
                "type": "object",
                "required": [
                  "errors"
                ],
                "properties": {
                  "errors": {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "code",
                            "message"
                          ],
                          "properties": {
                            "code": {
                              "type": "string",
                            },
                            "message": {
                              "type": "string",
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            example:
              errors:
                error:
                - code: TRUSTED_APP_NOTFOUND
                  message: Trustedapp not found 2ba28d40-1dfd-11e9-985f-02fe61f7863e
                      
      description: |
      operationId: PUT_add_project_group_to_trustedapp
      requestBody:
        content:
          application/json:
            schema:
              example:
                  projectGroup:
                      projectGroupId:9b9792ca-8730-4d21-9a39-6902229fd4b9 
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
               example:
                        projectgroups:
                            pagination:
                              from: 0
                              maximum: 30
                              sort: {}
                            projectGroups:
                            - projectGroupName: PROJECT_GROUP_NAME
                              projectGroupDesc: PROJECT_GROUP_DESCRIPTION
                              projectGroupId: 9b9792ca-8730-4d21-9a39-6902229fd4b9
                              projectGroupCode: PG0001
                              bucketName: pg0001-6546a3c1-5cc3-4d9c-afd6-691a2704d8b9
                              projects: []
                            - projectGroupName: PROJECT_GROUP_NAME
                              projectGroupDesc: PROJECT_GROUP_DESCRIPTION
                              projectGroupId: 9b9792ca-8730-4d21-9a39-6902229fd4b9
                              projectGroupCode: PG0001
                              bucketName: pg0001-6546a3c1-5cc3-4d9c-afd6-691a2704d8b9
                              projects: []

        '404':
         description: trustedapp not found
         content:
          application/json:
            schema:
              {
                "type": "object",
                "required": [
                  "errors"
                ],
                "properties": {
                  "errors": {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "code",
                            "message"
                          ],
                          "properties": {
                            "code": {
                              "type": "string",
                            },
                            "message": {
                              "type": "string",
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            example:
              errors:
                error:
                - code: TRUSTED_APP_NOTFOUND
                  message: Trustedapp not found 2ba28d40-1dfd-11e9-985f-02fe61f7863e
                      
      description: |
      operationId: get_trustedapp_projectgroups                      
  /trustedapps/{trustedappid}/projectgroups/{projectgroupid}:
    parameters:
        - name: Authorization
          in: header
          required: true
          description: >-
            Authorization request header should specify as HMISUserAuth
            session_token={sessiontokenvalue}.
          schema:
            type: string
        - name: X-HMIS-TrustedApp-Id
          in: header
          required: true
          description: Trusted App id should be provide in this header.
          schema:
            type: string
        - name: trustedappid
          in: path
          required: true
          description: Trusted App id
          schema:
            type: string  
        - name: projectgroupid
          in: path
          required: true
          description: Project Group Id
          schema:
            type: string     
    delete:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:  |
        '404':
         description: trustedapp not found
         content:
          application/json:
            schema:
              {
                "type": "object",
                "required": [
                  "errors"
                ],
                "properties": {
                  "errors": {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "code",
                            "message"
                          ],
                          "properties": {
                            "code": {
                              "type": "string",
                            },
                            "message": {
                              "type": "string",
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            example:
              errors:
                error:
                - code: TRUSTED_APP_NOTFOUND
                  message: Trustedapp not found 2ba28d40-1dfd-11e9-985f-02fe61f7863e
                      
      description: |
      operationId: delete_project_group_from_trustedapp
            
components:
  schemas: {}
  responses: {}
  parameters: {}
  examples: {}
  requestBodies: {}
  headers: {}
  securitySchemes:
    oauth_2_0:
      description: |
        The HMIS API supports OAuth 2.0 for authenticating all API requests.
      type: oauth2
      flows:
        password:
          tokenUrl: 'https://hslynk.com/hmis-authorization-service/rest/token'
          scopes:
            user: ''
            administrator: ''
  links: {}
  callbacks: {}
