{
  "openapi": "3.0.0",
  "info": {
    "title": "HMIS User Service",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.hmislynk.com/hmis-user-service/rest"
    }
  ],
  "paths": {
    "/accounts": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "An account with the specified username already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "It creates an account with the specified username and sends out an email to the user to verify the account creation. The initial status of the newly created account is PENDING. The status is changed to ACTIVE when the user verifies account creation by clicking the link embedded in the email. Only an ACTIVE account can log-in using the Create a session (Log-in) API. <br> It returns an error if an account with the specified username already exists.\nThis endpoint does the following:\n1) If request does not contain profile information, standard profile will be assigned to the user.\n2) If request does not contain role information, default role will be assigned based on profile.    \n3) Project Group of the user will be same as the project group of logged-in user who creates the account.\nThe user must have \"USR_CREATE_ACCOUNT\" permission to use this API    \n",
        "operationId": "POST_accounts",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To get all the users under logged in your project group.",
        "operationId": "GET_accounts",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "schema": {
              "default": "0",
              "type": "string"
            }
          },
          {
            "name": "maxItems",
            "in": "query",
            "schema": {
              "default": "30",
              "type": "string"
            }
          }
        ]
      }
    },
    "/accounts/{accountid}": {
      "put": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To update a specific account information.\nProvide account id as path variable for upatading non loggedin user. If need to update logged in user send self as account id.\n",
        "operationId": "PUT_accounts-accountid"
      },
      "get": {
        "responses": {
          "200": {
            "description": "Successfully retrieved resource(s)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Gets (aka reads or retrieves) a specific account. <BR><br>\nGET /accounts/{username}\n<b>\n",
        "operationId": "GET_accounts-accountid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": ""
          }
        },
        "description": "Account status will be updated to DELETED. \n",
        "operationId": "DELETE_accounts-accountid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "accountid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/accounts/{accountid}/activate": {
      "put": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To reactivate a specified user account\n",
        "operationId": "PUT_accounts-accountid-activate",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "accountid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/accounts/{accountid}/activate/basicinfo": {
      "get": {
        "responses": {
          "200": {
            "description": "Successfully retrieved resource(s)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Gets (aka reads or retrieves) a specific account. <BR><br>\nGET /accounts/{username}\n<b>\n",
        "operationId": "GET_accounts-accountid-activate-basicinfo",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "accountid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/accounts/{accountid}/activate/passwordchanges": {
      "put": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Changes password for an account. To change the password, the user must be logged-in and provide his/her current password.\nThe {username} is a value that uniquely identifies an account.\nTo change the password of the currently logged-in user, the {username} can be replaced by <b>self</b> keyword in the URL as shown below.\n<b>POST</b> /accounts/self/passwordchanges\n",
        "operationId": "PUT_accounts-accountid-activate-passwordchanges",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "accountid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/accounts/{accountid}/activate/forgotpassword": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Resets password for an account. It sends out an email notification to the user to verify the password reset. The new password becomes effective only after it has been verified by the user. It returns an error if an account with the specified username does not exist OR the account has been DISABLED.\n</br> The {username} is a value that uniquely identifies an account.\n",
        "operationId": "POST_accounts-accountid-activate-forgotpassword",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "accountid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/accounts/{accountid}/roles": {
      "put": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To assigne a role to user. If the role is already assigned nothing will happen.",
        "operationId": "PUT_accounts-accountid-roles",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "accountid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/accounts/{accountid}/roles/{roleid}": {
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To remove role from the user.",
        "operationId": "DELETE_accounts-accountid-roles-roleid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "roleid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "accountid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/profiles": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To get all Profiles",
        "operationId": "GET_profiles",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "schema": {
              "default": "0",
              "type": "string"
            }
          },
          {
            "name": "maxItems",
            "in": "query",
            "schema": {
              "default": "30",
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Create a new profile",
        "operationId": "POST_profiles",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/profiles/{profileId}": {
      "put": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To Update A specific Profile.",
        "operationId": "PUT_profiles-profileId",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To Delete A specific Profile\n",
        "operationId": "DELETE_profiles-profileId",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To get a Specific Profile Details",
        "operationId": "GET_profiles-profileId",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "profileId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/sharingrules": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Create a new sharing rule.",
        "operationId": "POST_sharingrules",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/sharingrules/{sharingruleid}": {
      "put": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To update a specifc Sharing Rule",
        "operationId": "PUT_sharingrules-sharingruleid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To Delete A Specifc Sharing Rule",
        "operationId": "DELETE_sharingrules-sharingruleid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "sharingruleid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/roles": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To get All the roles.",
        "operationId": "GET_roles",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "schema": {
              "default": "0",
              "type": "string"
            }
          },
          {
            "name": "maxItems",
            "in": "query",
            "schema": {
              "default": "30",
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To create A new role",
        "operationId": "POST_roles",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/roles/{roleid}": {
      "put": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To update a specific role",
        "operationId": "PUT_roles-roleid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To delete a Specific role",
        "operationId": "DELETE_roles-roleid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "roleid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/permissionsets": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To create a new Permission Set.",
        "operationId": "POST_permissionsets",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/permissionsets/{permissionsetid}": {
      "put": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To update a Specific Permission Set",
        "operationId": "PUT_permissionsets-permissionsetid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To Delete a specific Permission Set",
        "operationId": "DELETE_permissionsets-permissionsetid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To get Details About a specific Permision Set",
        "operationId": "GET_permissionsets-permissionsetid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "permissionsetid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/permissionsets/{username}/permissionsetassignments": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To Assign a Permission to A user\n <b>Note:</b> /permissionset/hmisuser/assignPermissionSet\n",
        "operationId": "POST_permissionsets-username-permissionsetassignments",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "username",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/informationreleases": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To create a release information for a enrollment.",
        "operationId": "POST_informationreleases",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/informationreleases/{enrollmentId}": {
      "put": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To update an enrollment's release of information.",
        "operationId": "PUT_informationreleases-enrollmentId",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To delete an enrollment's release of information.",
        "operationId": "DELETE_informationreleases-enrollmentId",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To get an enrollment's release of information.",
        "operationId": "GET_informationreleases-enrollmentId",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "schema": {
              "default": "0",
              "type": "string"
            }
          },
          {
            "name": "maxItems",
            "in": "query",
            "schema": {
              "default": "30",
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "enrollmentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/projectgroups": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To create a new project group.\n",
        "operationId": "POST_projectgroups",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To retrive existing project groups.",
        "operationId": "GET_projectgroups",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "schema": {
              "default": "0",
              "type": "string"
            }
          },
          {
            "name": "maxItems",
            "in": "query",
            "schema": {
              "default": "30",
              "type": "string"
            }
          }
        ]
      }
    },
    "/projectgroups/{projectgroupid}": {
      "put": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To update existing project group. While updating project group, api will remove all the assigned projects and add projects which are in new request body.",
        "operationId": "PUT_projectgroups-projectgroupid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To remove existing project group.",
        "operationId": "DELETE_projectgroups-projectgroupid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "To retrieve selected project group.",
        "operationId": "GET_projectgroups-projectgroupid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "projectgroupid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    }
  },
  "components": {
    "schemas": {},
    "responses": {},
    "parameters": {},
    "examples": {},
    "requestBodies": {},
    "headers": {},
    "securitySchemes": {
      "oauth_2_0": {
        "description": "The HMIS API supports OAuth 2.0 for authenticating all API requests.\n",
        "type": "oauth2",
        "flows": {
          "password": {
            "tokenUrl": "https://hmislynk.com/hmis-authorization-service/rest/token",
            "scopes": {
              "user": "",
              "administrator": ""
            }
          }
        }
      }
    },
    "links": {},
    "callbacks": {}
  }
}
