---
swagger: "2.0"
info:
  version: "1.0.0"
  title: "Hmis User Service"
  description: "test description I'm trying"
host: "www.hmislynk.com"
basePath: "/hmis-user-service/rest"
schemes:
- "https"
paths:
  /accounts:
    get:
      description: "To get all the users under logged in your project group."
      produces:
      - "application/json"
      parameters:
      - name: "startIndex"
        in: "query"
        required: false
        type: "string"
        default: "0"
      - name: "maxItems"
        in: "query"
        required: false
        type: "string"
        default: "30"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
    post:
      description: "It creates an account with the specified username and sends out\
        \ an email to the user to verify the account creation. The initial status\
        \ of the newly created account is PENDING. The status is changed to ACTIVE\
        \ when the user verifies account creation by clicking the link embedded in\
        \ the email. Only an ACTIVE account can log-in using the Create a session\
        \ (Log-in) API. <br> It returns an error if an account with the specified\
        \ username already exists.\nThis endpoint does the following:\n1) If request\
        \ does not contain profile information, standard profile will be assigned\
        \ to the user.\n2) If request does not contain role information, default role\
        \ will be assigned based on profile.    \n3) Project Group of the user will\
        \ be same as the project group of logged-in user who creates the account.\n\
        The user must have \"USR_CREATE_ACCOUNT\" permission to use this API    \n"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        409:
          description: "An account with the specified username already exists."
          schema:
            type: "object"
  /accounts/{accountid}:
    get:
      description: "Gets (aka reads or retrieves) a specific account. <BR><br>\nGET\
        \ /accounts/{username}\n<b>\n"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Successfully retrieved resource(s)\n"
          schema:
            type: "object"
        403:
          description: "Status 403"
          schema:
            type: "object"
    put:
      description: "To update a specific account information.\nProvide account id\
        \ as path variable for upatading non loggedin user. If need to update logged\
        \ in user send self as account id.\n"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
    delete:
      description: "Account status will be updated to DELETED. \n"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
    parameters:
    - name: "accountid"
      in: "path"
      required: true
      type: "string"
  /accounts/{accountid}/activate:
    put:
      description: "To reactivate a specified user account\n"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        403:
          description: "Status 403"
          schema:
            type: "object"
    parameters:
    - name: "accountid"
      in: "path"
      required: true
      type: "string"
  /accounts/{accountid}/basicinfo:
    get:
      description: "Gets (aka reads or retrieves) a specific account. <BR><br>\nGET\
        \ /accounts/{username}\n<b>\n"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Successfully retrieved resource(s)\n"
          schema:
            type: "object"
        403:
          description: "Status 403"
          schema:
            type: "object"
    parameters:
    - name: "accountid"
      in: "path"
      required: true
      type: "string"
  /accounts/{accountid}/passwordchanges:
    put:
      description: "Changes password for an account. To change the password, the user\
        \ must be logged-in and provide his/her current password.\nThe {username}\
        \ is a value that uniquely identifies an account.\nTo change the password\
        \ of the currently logged-in user, the {username} can be replaced by <b>self</b>\
        \ keyword in the URL as shown below.\n<b>POST</b> /accounts/self/passwordchanges\n"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: ""
          schema:
            type: "object"
        403:
          description: "Status 403"
          schema:
            type: "object"
    parameters:
    - name: "accountid"
      in: "path"
      required: true
      type: "string"
  /accounts/{accountid}/forgotpassword:
    post:
      description: "Resets password for an account. It sends out an email notification\
        \ to the user to verify the password reset. The new password becomes effective\
        \ only after it has been verified by the user. It returns an error if an account\
        \ with the specified username does not exist OR the account has been DISABLED.\n\
        </br> The {username} is a value that uniquely identifies an account.\n"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: ""
          schema:
            type: "object"
        403:
          description: "Status 403"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    parameters:
    - name: "accountid"
      in: "path"
      required: true
      type: "string"
  /accounts/{accountid}/roles:
    put:
      description: "To assigne a role to user. If the role is already assigned nothing\
        \ will happen."
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    parameters:
    - name: "accountid"
      in: "path"
      required: true
      type: "string"
  /accounts/{accountid}/roles/{roleid}:
    delete:
      description: "To remove role from the user."
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        403:
          description: "Status 403"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    parameters:
    - name: "accountid"
      in: "path"
      required: true
      type: "string"
    - name: "roleid"
      in: "path"
      required: true
      type: "string"
  /profiles:
    get:
      description: "To get all Profiles"
      produces:
      - "application/json"
      parameters:
      - name: "startIndex"
        in: "query"
        required: false
        type: "string"
        default: "0"
      - name: "maxItems"
        in: "query"
        required: false
        type: "string"
        default: "30"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
    post:
      description: "TO creat new Profile"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
  /profiles/{profileId}:
    get:
      description: "To get a Specific Profile Details"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    put:
      description: "To Update A specific Profile."
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    delete:
      description: "To Delete A specific Profile\n"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    parameters:
    - name: "profileId"
      in: "path"
      required: true
      type: "string"
  /sharingrules:
    post:
      description: "To create a New sharing rule."
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
  /sharingrules/{sharingruleid}:
    put:
      description: "To update a specifc Sharing Rule"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    delete:
      description: "To Delete A Specifc Sharing Rule"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    parameters:
    - name: "sharingruleid"
      in: "path"
      required: true
      type: "string"
  /roles:
    get:
      description: "To get All the roles."
      produces:
      - "application/json"
      parameters:
      - name: "startIndex"
        in: "query"
        required: false
        type: "string"
        default: "0"
      - name: "maxItems"
        in: "query"
        required: false
        type: "string"
        default: "30"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
    post:
      description: "To create A new role"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
  /roles/{roleid}:
    put:
      description: "To update a specific role"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    delete:
      description: "To delete a Specific role"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    parameters:
    - name: "roleid"
      in: "path"
      required: true
      type: "string"
  /permissionsets:
    post:
      description: "To create a new Permission Set."
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
  /permissionsets/{permissionsetid}:
    get:
      description: "To get Details About a specific Permision Set"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    put:
      description: "To update a Specific Permission Set"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    delete:
      description: "To Delete a specific Permission Set"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    parameters:
    - name: "permissionsetid"
      in: "path"
      required: true
      type: "string"
  /permissionsets/{username}/permissionsetassignments:
    post:
      description: "To Assign a Permission to A user\n <b>Note:</b> /permissionset/hmisuser/assignPermissionSet\n"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    parameters:
    - name: "username"
      in: "path"
      required: true
      type: "string"
  /informationreleases:
    post:
      description: "To create a release information for a enrollment."
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
  /informationreleases/{enrollmentId}:
    get:
      description: "To get an enrollment's release of information."
      produces:
      - "application/json"
      parameters:
      - name: "startIndex"
        in: "query"
        required: false
        type: "string"
        default: "0"
      - name: "maxItems"
        in: "query"
        required: false
        type: "string"
        default: "30"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    put:
      description: "To update an enrollment's release of information."
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    delete:
      description: "To delete an enrollment's release of information."
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    parameters:
    - name: "enrollmentId"
      in: "path"
      required: true
      type: "string"
  /projectsgroups:
    get:
      description: "To retrive existing project groups."
      produces:
      - "application/json"
      parameters:
      - name: "startIndex"
        in: "query"
        required: false
        type: "string"
        default: "0"
      - name: "maxItems"
        in: "query"
        required: false
        type: "string"
        default: "30"
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
    post:
      description: "To create a new project group.\n"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
  /projectgroups/{projectgroupid}:
    get:
      description: "To retrive selected project group."
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    put:
      description: "To update existing project group. While updating project group,\
        \ api will remove all the assigned projects and add projects which are in\
        \ new request body."
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    delete:
      description: "To remove existing project group."
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: true
        type: "string"
        description: "Authorization request header should specify as HMISUserAuth\
          \ session_token={sessiontokenvalue}."
        x-example: "HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39"
      - name: "X-HMIS-TrustedApp-Id"
        in: "header"
        required: true
        type: "string"
        description: "Trusted App id should be provide in this header."
        x-example: "MASTER_TRUSTED_APP"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
        404:
          description: "Status 404"
          schema:
            type: "object"
    parameters:
    - name: "projectgroupid"
      in: "path"
      required: true
      type: "string"
